mini_sql
mini_sql.exe
mini_sql_tests
mini_sql_tests.exe
mini_sql_server
mini_sql_server.exe
mini_sql_api_tests
mini_sql_api_tests.exe
mini_sql_benchmark
mini_sql_benchmark.exe
mini_sql_seed
mini_sql_seed.exe
src/*.o
logs/
data/*.idx
test_data/
test_api_data/
test_stale_index_data/
server-test.*
server-check.*
